name: Auto-Clean

on:
  # 自动清理：每周五早上6点（北京时间）
  schedule:
    - cron: '0 22 * * 4'  # UTC时间每周四22点（对应北京时间周四早上6点）
  #手动清理
  workflow_dispatch:

permissions: write-all

jobs:
  auto_clean:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old Releases and Workflows
        uses: ophub/delete-releases-workflows@main
        with:
          gh_token: ${{secrets.GITHUB_TOKEN}}
          delete_releases: true
          releases_keep_latest: 3 # 保留最近的3个版本
          delete_tags: true
          delete_workflows: true
          workflows_keep_day: 0
